extends layout

block content
  .page-header
    h1 Viewing new message
  .well.message-view
    div
      h2
        = subject
    div !{body}

  if has_creator
    .well.well-sm
      a(href=reply_link) Click here to reply

