extends layout

block content
  .page-header
    h3 Viewing new message
  .panel.panel-default.container.fixed-panel
    div
      h3
        = subject
    .text-left.well.well-sm
      a(href=link) Click here to view the message
    div.
      Once you click on the link above, the message body can never be read again.
