extends layout

block content
  .page-header
    h1 About to view new message
  .well
    div
      h2
        = subject
    div
      .btn.btn-primary.btn-flat.clickable(data-href=link) Reveal message
  .well.well-sm.
    Once you click on the link above, the message body can never be read again.
