extends layout

block content
  .page-header
    h3 About to view new message
  .panel.panel-default.container.fixed-panel
    .panel-heading
      h3
        = subject
    .text-left.well.well-sm
      a(href=link) Reveal message
    .panel-body.
      Once you click on the link above, the message body can never be read again.
