.page-header
  h1 Create message
.well.bs-component
  form.form-horizontal(id='create_message' action="/message/create", method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    if user
      .form-group
        label.col-sm-2.control-label(for='receiver_id') Recipient
        .col-sm-8
          input.form-control(type='text', name='receiver_id', id='receiver_id',
            value=reply?reply:'', placeholder='Recipient username (Optional)' autocomplete="true")
    .form-group
      label.col-sm-2.control-label(for='subject') Subject
      .col-sm-8
        input.form-control(type='text', name='subject', id='subject', placeholder='')
    .form-group
      label.col-sm-2.control-label(for='body-editor') Body
      .col-sm-8(name="body-editor")
        include editor
      input(id="body", name="body" type="hidden")
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-success(type='submit')
          span.ion-person-add
          | Send
block content
  .col-sm-offset-2.col-sm-8.well.
    When you create a message, a link is generated to view it. When an authorized recipient views the link, the message
    is rendered once and promptly deleted from the database. If you are logged in, you are allowed to specify the
    username of a user that is the only authorized recipient of the message.
