.page-header
  h1 Your messages
p.bs-component.col-sm-offset-2.col-sm-8
  button.btn.btn-warning.message-action(type="button", data-url="/message/archive") Archive
  span !{" "}
  button.btn.btn-info.message-select(type="button", data-state="unchecked") Select All
  button.btn.btn-success.message-redirect.float-right(type="button", data-url="/message/create") New Message
.col-sm-offset-2.col-sm-8
  legend Received Messages
  if received_messages.length == 0
    .well.well-sm You have not received any messages.
  each message_info in received_messages
    include message_row

.col-sm-offset-2.col-sm-8
  legend Sent Messages
  if sent_messages.length == 0
    .well.well-sm You have not sent any messages.
  each message_info in sent_messages
    include message_row