.page-header
  h3 Your messages
.col-sm-offset-3.col-sm-7.btn-group
  button.btn.btn-danger(type="button", id="delete") Delete
.col-sm-offset-3.col-sm-7
  h4 Received Messages
  .list-group
    if received_messages.length == 0
      div You have not received any messages.
    each message_info in received_messages
      include message_row

.col-sm-offset-3.col-sm-7
  h4 Sent Messages
  .list-group
    if sent_messages.length == 0
      div You have not sent any messages.
    each message_info in sent_messages
      include message_row